.App {
  text-align: center; }
  .App .App-header {
    background-color: #413e5d;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    height: 130px;
    padding: 1px;
    color: white; }
    @media all and (max-width: 400px) {
      .App .App-header {
        height: 60px; } }
    .App .App-header .App-title {
      font-size: 1.5em; }
    .App .App-header .App-logo {
      animation: App-logo-spin infinite 20s linear;
      height: 80px; }
  .App .App-intro {
    font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
